@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #212121;
  font-family: "Oswald", sans-serif;
}

h1 {
  font-family: "Anton", sans-serif;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}
